!!! 5
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || "The Middleman"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")

    -# Stylesheets
    = stylesheet_link_tag 'application'
  %body{class: current_page.data.body_class || 'page'}
    = yield
    -# Javascripts
    = javascript_include_tag 'application'
