.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar{"ng-controller" => "sidebarController"}
    %div{"ng-repeat" => "instrument in instruments"}
      %li{"ng-class" => "{active: isActive('/plots/{{instrument.instrument}}')}"}
        %a{"href" => "#plots/{{instrument.instrument}}"}
          {{instrument.displayName}}
