.col-sm-3.col-md-2.sidebar{"ng-controller" => "sidebarController"}
  %h2 Favorites
  %ul.nav.nav-sidebar{"ng-repeat" => "instrument in instruments | filter: filterFavorites"}
    %li{"ng-class" => "{active: isActive('/plots/{{instrument.instrument}}')}"}
      %a{"href" => "#plots/{{instrument.instrument}}"}
        {{instrument.displayName}}
  %h2 All
  %ul.nav.nav-sidebar{"ng-repeat" => "instrument in instruments"}
    %li{"ng-class" => "{active: isActive('/plots/{{instrument.instrument}}')}"}
      %a{"href" => "#plots/{{instrument.instrument}}"}
        {{instrument.displayName}}
