.row
  .col-sm-6.col-md-5
    %h2 Edit profile
    %form{"ng-submit" => "edit()", "class" => "form-horizontal", "name" => "editform"}
      .form-group
        %input{"ng-model" => "user.email", type: "text", name: "email", value: "user.email", class: "form-control"}
      .form-group
        %input{"ng-model" => "user.password", type: "password", name: "password", placeholder: "password", autocomplete: "off", class: "form-control"}
      .form-group
        %input{"ng-model" => "user.password_confirmation",
            type: "password",
            name: "password_confirmation",
            placeholder: "confirm password",
            autocomplete: "off",
            class: "form-control",
            match: "user.password"}
      .form-group
        .alert.alert-danger{role: "alert", "ng-show" => "editform.password_confirmation.$error.match"}
          The two passwords do not match!
      .form-group
        %input{"ng-model" => "user.oanda_token",
            type: "text",
            name: "oanda_token",
            placeholder: "oanda token",
            class: "form-control",
            }
      .form-group
        %input{"ng-model" => "user.account_id",
            type: "text",
            name: "account_id",
            placeholder: "oanda account id",
            class: "form-control",
            }
      .form-group
        %select{"ng-model" => "user.account_type",
            type: "button",
            name: "account_type",
            class: "form-control",
            placeholder: "oanda account type",
            }
          %option{value: "", disabled: true} oanda account type
          %option{selected: "user.account_type == 'sandbox'"} sandbox
          %option{selected: "user.account_type == 'practice'"} practice
          %option{selected: "user.account_type == 'trade'"} trade
      .form-group
        %input{type: "submit", value: "Save", class: "btn btn-primary btn-block"}
      .form-group
        %h3 Favorites
        %label{"ng-repeat" => "instrument in instruments"}
          %input{type: "checkbox",
            name: "selected[]",
            value: "{{instrument.instrument}}",
            "ng-checked" => "selected.indexOf(instrument.instrument) > -1",
            "ng-click" => "toggleSelection(instrument.instrument)",
            }
          {{instrument.displayName}} &nbsp;&nbsp;&nbsp;
      .form-group
        %input{type: "submit", value: "Save", class: "btn btn-primary btn-block"}
      .form-group
        .alert.alert-success{role: "success", "ng-show" => "showsuccess"}
          Profile updated successfully!
