.row
  .col-sm-6.col-md-5
    %h2 Edit profile
    %form{"ng-submit" => "edit()", "class" => "form-horizontal", "name" => "edit"}
      .form-group
        %input{"ng-model" => "user.email", type: "text", name: "email", placeholder: "email", class: "form-control"}
      .form-group
        %input{"ng-model" => "user.password", type: "password", name: "password", placeholder: "password", autocomplete: "off", class: "form-control"}
      .form-group
        %input{"ng-model" => "user.password_confirmation",
            type: "password",
            name: "password_confirmation",
            placeholder: "confirm password",
            autocomplete: "off",
            class: "form-control",
            match: "user.password"}
      .alert.alert-danger{role: "alert", "ng-show" => "edit.password_confirmation.$error.match"}
        The two passwords do not match!
      .form-group
        %input{"ng-model" => "user.oanda_token",
            type: "text",
            name: "oanda_token",
            placeholder: "oanda token",
            class: "form-control",
            }
      .form-group
        %select{"ng-model" => "user.account_type",
            type: "button",
            name: "account_type",
            class: "form-control",
            placeholder: "oanda account type",
            }
          %option sandbox
          %option practice
          %option trade
      .form-group
        %input{type: "submit", value: "Save", class: "btn btn-primary btn-block"}
