---
title: Analysis frontend
body_class: index
---

.welcome
  %h1 Summary
  .row
    .col-md-6
      %d3-candlestick{candles: "candles", ema5: "ema5", ema10: "ema10"}
  .row
    .col-md-6
      %d3-line-threshold{line: "adr", threshold: "[100]"}
